@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700&display=swap&subset=chinese-traditional");

/* reset CSS */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  background-color: #f6f7f8;
  font-family: 'Noto Sans TC', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}

p {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /*拿掉底線*/
}

/* 共用樣式 */
.container {
  width: 85%;
  margin: 0 auto 3rem auto;
  ;
}

/* 按鈕樣式 */
.action {
  display: inline-block;
  color: white;
  background: #39bae6;
  border-radius: 0.25rem;
  font-size: 1rem;
  padding: 0.25rem 1rem;
  transition: all 0.1s linear;
}

.action:hover {
  background: #267c99;
  /* 陰影 */
  -webkit-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  -moz-box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
  box-shadow: 0px 1px 5px 0px rgba(87, 87, 87, 1);
}

.background-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Main header */
header {
  /* 置頂 */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 60px;
  text-align: center;
  background: #ffffff;
  /* 陰影 */
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  /*與外層 Header 高度相同達到垂直置中*/
  line-height: 60px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #267b98
}

.nav {
  position: absolute;
  top: 100%;
  width: 100%;
  background: #ffffff;
  /* 原先不顯示 */
  transform: scale(1, 0);
  transform-origin: top;
  /*從上面展開*/
  transition: transform .2s ease-out;
}

.nav-item {
  margin: 1.4rem 0;
  /* 不顯示，避免導覽項目的文字在導覽列開關時被壓縮 */
  opacity: 0;
}

.nav-link {
  color: #267b98
}

/* pseudo-class 控制「被勾選」時的樣式 */
.navbar-toggle:checked~.nav {
  transform: scale(1, 1);
  background-color: rgba(255, 255, 255, 0.9);
}

/* 恢復nav-item樣式 */
.navbar-toggle:checked~.nav .nav-item {
  opacity: 1;
  transition: opacity .2s ease-out .15s;

}

.navbar-toggle-label {
  position: absolute;
  /* 元素的高度會和父元素header相等 */
  top: 0;
  bottom: 0;
  right: 7.5%;
  /* display */
  display: flex;
  align-items: center;
}

/* 用偽元素做出漢堡排上下兩條線 */
.hamburger,
.hamburger::before,
.hamburger::after {
  width: 30px;
  height: 3px;
  background: #267b98;
}

.hamburger {
  position: relative;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: 8px;
  /*距離top往下8px*/
}

.hamburger::after {
  bottom: 8px;
  /*距離bottom往下8px*/
}

/* 做出漢堡排icon後隱藏checkbox */
.navbar-toggle {
  visibility: hidden;
  position: absolute;
}

/* Activity */
.banner-wrapper {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 250px);
  grid-gap: 0.5rem;
  grid-template-areas:
    " main main main main"
    "left left right right";
}

/* 用 grid-area 屬性命名 */
.main-banner {
  grid-area: main;
  background-image: url("https://images.unsplash.com/photo-1520087619250-584c0cbd35e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1285&q=80");
}

.sub-banner-left {
  grid-area: left;
  background-image: url("https://images.unsplash.com/photo-1569809317138-8d2ff6060c4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

.sub-banner-right {
  grid-area: right;
  background-image: url("https://images.unsplash.com/photo-1535294435445-d7249524ef2e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
}

/* banner內部排版 */
.main-banner,
.sub-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

/* banner內部文字樣式調整 */
.banner-title {
  margin-bottom: 0.4rem;
}

.main-banner .banner-title {
  font-size: 2rem;
  color: #1a5366
}

.banner-description {
  margin-bottom: 1rem;
  font-weight: 600;
}

.main-banner .banner-description {
  color: #267b98;
}

.sub-banner .action {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.sub-banner .banner-title,
.sub-banner .banner-description {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

/* Album */
.album-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
  grid-gap: 1.5rem;
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  /* 超出容器的圖片隱藏 */
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  /* 搭配轉場效果 */
  opacity: 1;
  background: #a9a9a9;
}

.card-img {
  display: block;
  /* 置換元素在容器內維持原長寬比縮放 */
  object-fit: cover;
  width: 100%;
  height: 300px;
  /* 搭配轉場效果 */
  opacity: 1;
  transition: opacity .2s ease-out;
}

.card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
  /* 希望hover過才顯示 */
  opacity: 0;
  transition: opacity .3s ease-out;
}
.card:hover .card-img {
  opacity: 0.4;
}
.card:hover .card-text {
  opacity: 1;
}

/* 滑過卡片有邊框效果，用偽元素 */
.card::before,
.card::after {
  content: '';
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  /* 轉場效果 */
  transition: transform .4s ease-out;
}

.card::before {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transform: scale(0,1);
}

.card::after {
  border-left: 1px solid white;
  border-right: 1px solid white;
  transform: scale(1, 0);
}

.card:hover::before{
  transform: scale(1.05, 1);
}
.card:hover::after {
  transform: scale(1, 1.05);
}

/* Adoption */
.adoption-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 135px;
  width: 100%;
  background: #FFFFFF;
}
.adoption-image {
  width: 100%;
}
/* css grid 排版 */
.adoption-info {
  display: grid;
  justify-items: center;
  align-content: center;
  padding: 1.2rem;
}

/* 調整adoption內部文字樣式 */
.adoption-info .title {
  font-size: 1.75rem;
  margin-bottom: 0.4rem;
  color: #267c99;
}
.adoption-info .description {
  font-size: 1rem;
  margin-bottom: 0.9rem;
  color: #5e5c5c;
}

/* footer */
footer {
  width: 100%;
  padding: 1rem;
  background: #4a4a4a;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}
/* min-width:768px */
@media (min-width:768px) {
  .navbar-toggle-label {
    display: none;
  }

  .nav {
    all: unset;
  }

  .nav-item {
    margin: 0;
    opacity: 1;
  }

  /* header css grid */
  header {
    display: grid;
    /* 分四份 */
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }

  .navbar-brand {
    grid-column: 2 / 3;
  }

  .nav {
    grid-column: 3 / 4;
  }

  .nav-list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    justify-content: end;
    align-items: center;
    grid-gap: 2rem;
  }

  /* action */
  .action {
    font-size: 1.2rem;
    padding: 0.75rem 2rem;
  }

  /* Activity */
  .banner-wrapper {
    padding-top: 92px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
    grid-gap: 1.5rem;
    grid-template-areas:
      "main main main left"
      "main main main right";
  }

  .main-banner {
    justify-content: center;
    align-items: flex-start;
  }

  /* banner內部文字樣式調整 */
  .main-banner .banner-title {
    font-size: 4rem;
  }

  .main-banner .banner-description,
  .sub-banner .banner-title {
    font-size: 2rem;
  }

  .sub-banner .action {
    font-size: 1.2rem;
  }
  /* adoption */
  .adoption-wrapper {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
  }
  .adoption-info {
    justify-items: start;
  }
  .adoption-info .title {
    font-size: 3rem;
  }
  .adoption-info .description {
    font-size: 1.875rem;
  }
}

@media (min-width:992px) {
  .album-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
